.hall-container{
 height: 100vh;
 width: 100vw;
 display: flex;
 flex-direction: column;
}
.divPerson-hall {
  transform: translateX(calc(var(--position-x) * 100%));
  position: absolute;
  left: 700px;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  z-index: 2;
  margin-bottom: 50px;
}

.hall-sup {
  background-size: 500px;
  background-image: url('/src/assets/imagenes/pared-hall.jpg');
  height:70vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.hall-inf {
  border-top: 1px black solid;
  background-size: 100%;
  background-image: url('/src/assets/imagenes/moqueta-mad.jpg');
  height: 30vh;
  width: 100vw;
}
.puerta-projects{
  width: 7.5vw;
  height: 400px;
  background: linear-gradient(to bottom left, #000000,  #6d6d6c);
}
.cartel-proyectos{
  height: 30px;
    margin-bottom: 10px;
  background-color: aliceblue;
  display: flex;
  border: 1px solid black;
  justify-content: center;
 align-items: center;
 border-radius: 10%;
 box-shadow: 0 0 8px 5px rgb(120, 119, 108);

}
.puerta-bio{
  width: 7.5vw;
  height: 400px;
  background: linear-gradient(to bottom right, #000000,  #6d6d6c);
}
.cartel-bio{
  margin-bottom: 10px;
  height: 30px;
  background-color: aliceblue;
  display: flex;
  border: 1px solid black;
  justify-content: center;
  border-radius: 10%;
  box-shadow: 0 0 8px 5px rgb(120, 119, 108);
 align-items: center;
}