.home-container{
  display: flex;
flex-direction: column;
}
.home-sup{
background-image: url('/src/assets/imagenes/fondoHome.jpg');
display: flex;
align-items: end;
z-index: 0;
justify-content: space-between;
}
.divPerson-home{
  z-index: 2;
}
.proy-div{
  display: flex;
  z-index: 1;
}
.proy-home-container{
  height: 700px;
  background-size: 100px;
  width: 400px;
  border: 1px solid black;
  background-image: url('/src/assets/imagenes/ladrillosProyHome.jpg');
  z-index: 0;
  display: flex;
  flex-direction: column;
justify-content: end;
align-items: center;

  
}
.cartel-proy{
  display: flex;
  height: 30px;
  width: 70px;
  border: 1px solid black;
justify-content: center;
}
.puerta-container{
  margin-left: 30px;
height: 400px;
width: 300px;
display: flex;
justify-content: center;

}
.puerta{
  display: flex;
  border: 1px solid black;
  height: 350px;
  width: 150px;
  align-self: flex-end;
  margin-right: 10px;
}
.pta-izq{
  height: 350px;
width:75px ;
border-right: solid black 0.5px;
background-color: #c6e0edd8 ;
}
.pta-der{
  height: 350px;
  width:75px ;
  border-left: solid black 0.5px;
  background-color: #c6e0edd8 ;
}
.timbre-container{
  justify-content: center;
  display: flex;
  align-self: center;
  height: 30px;
  width: 30px;
  border: 1px solid black;
  background-color: rgba(170, 155, 155, 0.789);
}
.timbre{
  align-self: center;
  background-color: black;
  border-radius: 50%;

width: 10px;
height: 10px;
}
.bio-div{
z-index: 1;
}
.home-inf{
background-color: brown;
height: 200px;
}