.bio-container {
    display: flex;
    height: 77vh;
    padding-top: 80px;
    padding-left: 30px;
    padding-bottom: 80px;
    
    background-image: linear-gradient(to bottom right, rgba(94, 107, 163, 0.795) 90%, white 100%);
    overflow-y: auto;
    color: white;
    align-items: center;

}

.navBio {
    height: fit-content;
    display: flex;
    align-content: space-between;
    flex-direction: column;


}

.nav-item {

    margin-bottom: 10px;
    margin-top: 10px;
    background-color: black;
    border-radius: 20px;
    padding: 15px;


}

.infCV {
    margin-left: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    border: 1px solid white;
    background-color: black;
    box-shadow: 0 0 8px 0 rgb(124, 113, 113), 0 0 20px 0 rgba(255, 254, 254, 0.86);

    .card-cont {
        border: 1px solid white;
        justify-content: flex-start;
        padding: 10px;
        margin: 20px;
        background-color: rgb(63, 87, 128);
        box-shadow: 0 0 8px 0 rgb(68, 72, 146), 0 0 20px 0 rgba(255, 254, 254, 0.86);
        a{
            color:white;
        }
        h2 {
            margin-bottom: 10px;
            text-decoration: underline;
        }

        p {
           
            padding: 5px;
        }
    }

}
.infCVPro{
    justify-self: center;
    margin-left: 200px;
    overflow: auto;
    overflow-y: auto;
    flex-wrap: wrap;
    max-height:45vh;
    width: 60vw;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    border: 1px solid white;
    background-color: black;
    box-shadow: 0 0 8px 0 rgb(124, 113, 113), 0 0 20px 0 rgba(255, 254, 254, 0.86);
    .card-cont {
        border: 1px solid white;
        justify-content: flex-start;
        padding: 10px;
        margin: 20px;
        background-color: rgb(63, 87, 128);
        box-shadow: 0 0 8px 0 rgb(68, 72, 146), 0 0 20px 0 rgba(255, 254, 254, 0.86);
        a{
            color:white;
        }
        h2 {
            margin-bottom: 10px;
            text-decoration: underline;
        }

        p {
           
            padding: 5px;
        }
    }
    
}
.infCV-hor {
    margin: 50px;
    border: 1px solid white;
    background-color: black;
    box-shadow: 0 0 8px 0 rgb(124, 113, 113), 0 0 20px 0 rgba(255, 254, 254, 0.86);
    display: flex;
    flex-wrap: wrap;

    div {
        border: 1px solid white;
        justify-content: flex-start;
        padding: 10px;
        margin: 20px;
        background-color: rgb(63, 87, 128);
        box-shadow: 0 0 8px 0 rgb(68, 72, 146), 0 0 20px 0 rgba(255, 254, 254, 0.86);

        div {
            padding: 10px;
            border: 1px solid white;
            margin: 20px;
            background-color: rgb(105, 125, 160);
        }

    }
}

.sobremi-container {
    border: 1px solid white;
    background-color: black;
    box-shadow: 0 0 8px 0 rgb(124, 113, 113), 0 0 20px 0 rgba(255, 254, 254, 0.86);
    display: flex;
    flex-wrap: wrap;
    height: 70vh;
    width: 70vw;
    margin-left: 80px;
    overflow-y: auto;

    .card-cont {
        border: 1px solid white;
        justify-content: flex-start;
        padding: 10px;
        margin: 20px;
        background-color: rgb(63, 87, 128);
        box-shadow: 0 0 8px 0 rgb(68, 72, 146), 0 0 20px 0 rgba(255, 254, 254, 0.86);

        h2 {
            margin-bottom: 10px;
            text-decoration: underline;
        }

        p {
            padding: 5px;
        }
        h4{
            text-decoration: underline; 
        }
    }
}

.chart-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 30vw;
}

.bar-container {
    display: flex;

    height: 40px;
    justify-content: flex-start;
    background-color: rgba(134, 151, 225, 0.795);
    border-radius: 5px;
    overflow: hidden;
    margin: 5px;

}

.bar {
    display: flex;
    justify-content: center;
}

.label {

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
}
/* Estilos para dispositivos con ancho de pantalla menor a 768px (móviles) */
@media (max-width: 767px) {

    .bio-container {
     
     height: 76vh;
     max-height:75.5vh;   /* Ajustar estilos según tus necesidades para dispositivos móviles */
      display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
    }
  .navBio{
    position: sticky;
    margin-top: -50px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
    .contenidoCV {
        margin-top: 50px;
        margin-right: 10px;
        margin-left: 10px;
        max-height:76vh; 
 display: flex;
 justify-content: flex-start;
    }
  .infCV{
    overflow: auto;
    overflow-y: auto;
    flex-wrap: wrap;
    margin: 0;
    max-height:45vh;
    width: 80vw;
    .card-cont{  
        overflow: auto;
     
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2{
            text-decoration: underline;
        }
        p{
            word-wrap: break-word;
            margin-top: 5px;
        }
    }
  }
  .infCVPro{
    overflow: auto;
    overflow-y: auto;
    flex-wrap: wrap;
    margin: 0;
    max-height:45vh;
    width: 80vw;
    .card-cont{  
        overflow: auto;
     
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2{
            text-decoration: underline;
        }
        p{
            word-wrap: break-word;
            margin-top: 5px;
        }
    }
  }
  .infCV-hor{
    overflow: auto;
    overflow-y: auto;
    flex-wrap: wrap;
    margin: 0;
    max-height:50vh;
    display: flex;
    justify-content: center;
    align-items: center;
.card-cont{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100px;
        width: 300px;
        h2{
            text-decoration: underline;
        }
        p{
            margin-top: 5px;
        }
    }
  }
  .chart-container{
    height: 200px;
    width: 300px;
    .bar{
        .label{
            font-weight: bold;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
  }
  .sobremi-container{
    overflow: auto;
    overflow-y: auto;
    margin: 0;
    width: 80vw;
    max-height:50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .card-cont{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2{
            text-decoration: underline;
        }
        p{
            margin-top: 5px;
        }
    }}
   
  }
  