.bio-container{
    display: flex;
    flex-direction: column;
    // align-items: center;
    height:87vh;
padding-top: 80px;
padding-left: 30px;
background-image: linear-gradient(to bottom right,rgba(94, 107, 163, 0.795) 90%,white 100%);

color: white;
}
