.navBar-container{
    display: flex;
    align-items: center;
padding: 5px;
    width: 100vw;
    height: 7vh;
    background-image: linear-gradient(to right, rgb(0, 0, 0) 70%, white 100%);
position: fixed;
    z-index: 5;
    // margin-top: -10px;

}
.btn-navBar{

  
    padding: 5px;
    // border: 1px solid white;
    margin-left: 20px;
   text-decoration: none;
   color: aliceblue;  
   transition: transform 0.1s
}
.btn-navBar:hover{
    transform: scale(1.2);
    // background-image: radial-gradient(black 60%,white 100%);
    border: transparent;
    border-radius: 100%;
    box-shadow: 0 0 8px 0 rgb(124, 113, 113), 0 0 20px 0 rgba(255, 254, 254, 0.86);
}
.img-pag{
    border: 2px solid white;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 30px;
    border-radius: 50%;
    justify-self: flex-end;
    margin-left: 15px;
}
@media (max-width: 767px) {
    .navBar-container {
        display: none;
      }}