.navBar-container{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: rgb(20, 148, 116);
    position: fixed;
    z-index: 5;
    margin-top: -10px;

}
.btn-navBar{
    margin-left: 15px;
   text-decoration: none;
   color: aliceblue;
   
}
.btn-navBar:hover{
    border: 1px solid white;
    border-radius: 10%;
}
.img-pag{
    width: 30px;
    border-radius: 50%;
    justify-self: flex-end;
    margin-left: 15px;
}