.person-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 200px;
}

.cabeza-container {

  display: flex;
  flex-direction: column;
  background-color: #fdddca;
  width: 30px;
  height: 70px;
  border-radius: 50%;
  border: 0.1px solid black;
}

.cabeza-sup {

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 30px;
  height: 20px;

}

.gorra1 {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  width: 30px;
  height: 20px;
  background-color: black;
  border: 0.1px solid black;
}

.gorra2 {
  border: 0.1px solid black;
  width: 40px;
  height: 10px;
  background-color: red;
  display: flex;
  justify-content: center;
  border-top-left-radius: 30%;
}
.gorra-name{
  align-self: center;
  font-size: 3px;
 }
.cabeza-inf {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 30px;
  height: 50px;

}

.ceja {

  // position: absolute;
  // top: 25px;
  height: 2px;
  width: 10px;
  border: 1px solid black;
  border-radius: 50%;
  border-bottom: transparent;
  border-right: transparent;
  border-left: transparent;
  margin-top: -2px;
  // background-color: black;

}

.ojo {

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-top: 2px;
  width: 10px;
  height: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  border: 0.1px solid black;
}

.pupila {

  background-color: black;
  width: 5px;
  height: 5px;
  border-radius: 50%;

}

.nariz {

  width: 3px;
  height: 7px;
  margin-top: 2px;
  margin-right: 1px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-bottom-right-radius: 50%;
}

.boca {
  width: 8px;
  height: 2px;
  margin-top: 3px;
  margin-right: 4px;
  border: 1px solid black;
  border-top: transparent;
  border-right: transparent;
  border-bottom-left-radius: 50%;
}
.cuello{
  width: 5px;
  height: 5px;
  background-color: #fdddca;
  border-right: 0.1px solid black;
  border-left:  0.1px solid black;
  border-bottom: 0.1px solid transparent;
  border-radius: 30%;
  margin-top: -2px;
  margin-bottom: -2px;
}
.tronco-container {
  display: flex;
  align-items: center;
  justify-content: center;
z-index: 0;
  height: 90px;

}

.torso {
  z-index: 0;
  background-color: black;
  display: flex;
  width: 30px;
  height: 90px;
  margin-right: -18px;
  margin-left: -18px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
  border: 0.1px solid black;
}

.brazo-izq {
  display: flex;
  flex-direction: column;
  z-index: -1;
  border-radius: 50%;
  width: 20px;
  height: 70px;
 
  // background-color: green;
  transform: rotate(15deg);

}
.manga-izq{
  z-index: 0;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  height: 14px;
  background-color: red;
  border: 0.1px solid black;
}
.bi-sup{
  z-index: -1;
  margin-top: -3px;
  align-self: center;
  height: 20px;
  width: 17px;
  background-color:#fdddca;
 border-top-left-radius: 30%;
 border-top-right-radius:  30%;
 border-bottom-left-radius:  80%;
 border-bottom-right-radius:  80%;
 border-right: 0.1px solid black;
 border-left:  0.1px solid black;
 border-bottom: 0.1px solid transparent;
}
.codo-izq{
  z-index: -2;
  border-top-left-radius:50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
  background-color:#fdddca;
  border-right: 0.1px solid black;
  border-left:  0.1px solid black;
  height: 15px;
  width: 10px;
 align-self: center;
 margin-top: -10px;
 margin-bottom: -5px;
 
}
.bi-inf{
  z-index: -1;
  border-top-left-radius: 30%;
 border-top-right-radius:  30%;
 border-bottom-left-radius:  30%;
 border-bottom-right-radius:  30%;
  height:20px;
  width: 13px;
  align-self: center;
  border-right: 0.1px solid black;
  border-left:  0.1px solid black;
  background-color:#fdddca;
  margin-bottom: -5px;
}
.mano-izq{
  display: flex;
  justify-content: space-around;
  height: 15px;
  width: 13px;
  align-self: center;
  border-right: 0.1px solid black;
  border-left:  0.1px solid black;
  background-color:#fdddca;
  border-top-right-radius:40%;
  border-top-left-radius:40%;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  border-bottom:  0.1px solid black;
}

.brazo-der {
  
  display: flex;
  flex-direction: column;
  z-index: 1;
  border-radius: 50%;
  width: 20px;
  height: 70px;
 
  // background-color: green;
  transform: rotate(-15deg);

}
.manga-der{
  z-index: 0;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  height: 14px;
  background-color: red;
  border: 0.1px solid black;
}
.bd-sup{
  z-index: -1;
  margin-top: -3px;
  align-self: center;
  height: 20px;
  width: 17px;
  background-color:#fdddca;
 border-top-left-radius: 30%;
 border-top-right-radius:  30%;
 border-bottom-left-radius:  80%;
 border-bottom-right-radius:  80%;
 border-right: 0.1px solid black;
 border-left:  0.1px solid black;
 border-bottom: 0.1px solid transparent;
}
.codo-der{
  z-index: -2;
  border-top-left-radius:50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
  background-color:#fdddca;
  border-right: 0.1px solid black;
  border-left:  0.1px solid black;
  height: 15px;
  width: 10px;
 align-self: center;
 margin-top: -10px;
 margin-bottom: -5px;
}
.bd-inf{
  z-index: -1;
  border-top-left-radius: 30%;
 border-top-right-radius:  30%;
 border-bottom-left-radius:  30%;
 border-bottom-right-radius:  30%;
  height:20px;
  width: 13px;
  align-self: center;
  border-right: 0.1px solid black;
  border-left:  0.1px solid black;
  background-color:#fdddca;
  margin-bottom: -5px;
}
.mano-der{  
  display: flex;
  justify-content: space-around;
  height: 15px;
  width: 13px;
  align-self: center;
  border-right: 0.1px solid black;
  border-left:  0.1px solid black;
  background-color:#fdddca;
  border-top-right-radius:40%;
  border-top-left-radius:40%;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  border-bottom:  0.1px solid black;
}
.dedo{
  // margin-top: 7px;
  align-self: flex-end;
  background-color: black;
  width: 0.5px;
height: 5px;

}

.inferior-container {
  display: flex;
  margin-top: -5px;
  z-index: -1;
}

.pierna-izq {
  flex-direction: column;
  justify-content: flex-end;
  display: flex;
  width: 15px;
  height: 70px;
  background-color: blue;
  transform: rotate(10deg);
}
.masa-izq{
  border: 0.1px solid black;
width: 14.5px;
height: 60px;
}
.zapato-izq {
  display: flex;
  flex-direction: row-reverse;
  border: 0.1px solid black;
  width: 20px;
  height: 10px;
  background-color: white;
  border-top-right-radius: 40%;
}

.pierna-der {
  margin-left: 1px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transform: rotate(-10deg);
  width: 15px;
  height: 70px;
}
.masa-der{
  border: 0.1px solid black;
  background-color:blue;
  width: 14.9px;
  height: 60px;
  }
.zapato-der {
  display: flex;
  flex-direction: row-reverse;
  border: 0.1px solid black;
  width: 20px;
  height: 10px;
  background-color: white;
  border-top-right-radius: 40%;
}
.cordones{
  display: flex;
  margin-right:5px;
}
.cordon{
width: 0.5px;
height: 4px;
background-color: black;
margin-left: 1px;
justify-content:center;
}