.proyectos-container {
  display: flex;
  flex-direction: column;
  width: 2000px; /* Ajusta el ancho según tus necesidades */
  height: 500px; /* Ajusta la altura según tus necesidades */
  // overflow: hidden;
  overflow: auto;
  scroll-behavior: smooth;
}

.pas-sup {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  height: 400px;
  width: 2000px;

}

.pas-inf {
  height: 100px;
  width: 2000px;
  background-color: chocolate;

}

.person-div {
  transform: translateX(calc(var(--position-x) * 100%));
top: 230px;
  position: absolute;
  transition-duration: 0.2s;
  transition-timing-function: linear;
z-index: 2;
}
.cuadros-container{
  margin-top: 170px;
  justify-content: space-evenly;
  display: flex;
  z-index: 1;

}
.proyecto-imgInd{
  width: 150px;
}
.cuadro{
  align-self: center;
}