.proyectos-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 97.5vh; //pq el 2.5 es del scroll
}

.infoExtended {
  padding: 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid #000000;
  background-color: white;
  justify-content: center;
  margin-bottom: 10px;
  div{
    align-self: center;
    justify-content: space-between;
    width:95%;

  }
  ul {
    li {
      a{
        color:black;
      }
      max-width: 400px;
    }
  }
}

.inf-sup {
  padding: 5px;
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.pas-sup {
  display: flex;
  background-size: 500px;
  background-image: url('/src/assets/imagenes/pared-hall.jpg');
  height: 70vh;
  width: 100vw;

}

.pas-inf {
  border-top: 1px black solid;
  height: 30vh;
  width: 100%;
  background-size: 100%;
  background-image: url('/src/assets/imagenes/moqueta-mad.jpg');

}

.person-div {
  transform: translateX(calc(var(--position-x) * 100%));
  margin-top: 300px;
  position: absolute;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  z-index: 2;
}

.cuadros-container {
  margin-left: 30vw;
  align-self: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  z-index: 1;

}

.proyecto-imgInd {
  width: 150px;
}

.pta-hall-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.puerta-hall {
  width: 7.5vw;
  height: 380px;
  background: linear-gradient(to bottom left, #000000, #6d6d6c);
}

.cartel-hall {
  margin-bottom: 10px;
  height: 30px;
  background-color: aliceblue;
  display: flex;
  border: 1px solid black;
  justify-content: center;
  border-radius: 10%;
  box-shadow: 0 0 8px 5px rgb(120, 119, 108);
  align-items: center;
}

.cuadro {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.marco {
  padding: 10px;
  border: 1px solid black;
  background-color: white;
}

.info {
  align-self: center;
  background-color: white;
  border: 1px solid black;
  margin-bottom: 10px;
}