.proyectos-container {
  display: flex;
  flex-direction: column;
width: fit-content ;
  overflow: auto;
  scroll-behavior: smooth;
}

.pas-sup {
  display: flex;
  background-size: 500px;
  background-image: url('/src/assets/imagenes/pared-hall.jpg');
  height: 520px;
  width: 100%;

}

.pas-inf {
  height: 220px;
  width: 100%;
  background-size: 100%;
  background-image: url('/src/assets/imagenes/moqueta-mad.jpg');

}

.person-div {
  transform: translateX(calc(var(--position-x) * 100%));
  margin-top: 320px;
  position: absolute;
  transition-duration: 0.2s;
  transition-timing-function: linear;
z-index: 2;
}
.cuadros-container{
margin-left: 600px;
margin-right: 300px;
  justify-content: space-evenly;
  display: flex;
  z-index: 1;

}
.proyecto-imgInd{
  width: 150px;
}
.cuadro{
  margin-left: 250px;
  margin-top: 70px;
  align-self: center;
}
.pta-hall-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end
;
}
.puerta-hall{
  width: 100px;
  height: 400px;
  background-color: black;
}
.cartel-hall{
  height: 30px;
  background-color: aliceblue;
  display: flex;
  border: 1px solid black;
  justify-content: center;
 align-items: center;
}
.cuadro{
  display: flex;
  flex-direction: column;
}
.marco{
  padding: 10px;
  border: 1px solid black;
  background-color: white;
}
.info{
  align-self: center;
  background-color: white;
  border: 1px solid black;
  margin-bottom:10px;
}